tst
/.*
/*.json
/app-tdr.txt
/app-bktst.txt
best_strategy.json
best_strategy_trades.json
env
.bitstamp
.influxdb
influx/create-all-access-api-token.output
/data
/test_data
./*.log
*.csv
*.log
logs/*
trades/*
*.tgz
# But don't ignore .csv files in the ./test_data directory
!test_data/*.csv
.ses_smtp_config.json

# Ignore all .png, .zip, and .metadata files
*.png
*.zip
*.metadata

# Ignore files starting with foo*
foo*

# Ignore files in any __pycache__ directory
trades.json

src/backtesting/__pycache__/
src/data/__pycache__/
src/indicators/__pycache__/
src/optimization/__pycache__/
src/strategies/__pycache__/
src/tdr_core/__pycache__/
src/utils/__pycache__/
src/__pycache__/
/commands/*
